@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
body {
  @apply bg-gray-100 text-gray-800;
  font-family: "Inter", sans-serif;
}

/* Optional: Smooth transitions */
* {
  @apply transition-colors duration-200;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}